/* Header */
.flex-container, .row {
    text-decoration: solid;
    text-decoration-color: black;
}
.item-6 {
    padding-bottom: 20px;
    padding-right: 20px;
}

.media img {
    margin-top: 50px;
    display: flex;
    height: 92;
    width: 272;
    text-align: -webkit-center;
}
.form-group {
    margin: auto;
}
.form-group input {
    height: 40px;
    width: 500px;
    padding: 0px, 40px;
    border-width: 1pt;
    border-style: solid;
    border-color: rgba(201, 202, 201, 0.973);
    border-radius: 50px;
    margin-bottom: 20px;
    text-align: center;
    
}

/*

.nav {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    }
.rightalign {
    float: right;
}
.leftalign {
    float: left;
}

li {
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 14px; 
    margin: 5px;
    vertical-align: middle;
    text-decoration: none;
}
li a {
    text-decoration: none;
}

.google {
    display: block;
    margin: auto;
    justify-content: center;
    padding-top: 108px;
    width: 272;
    height: 201;
    text-align: -webkit-center;
    margin-top: 47px;
  }
  .center {
      margin: auto;
      justify-content: center;
  }
  input {
    height: 40px;
    width: 500px;
    padding: 0px, 40px;
    border-width: 1pt;
    border-style: solid;
    border-color: rgba(201, 202, 201, 0.973);
    border-radius: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.form {
    display: block;
}


*/
